<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{!-- navbar --}}
    {{>header}}

    Hello from the about dynamic page

    {{>footer}}
    {{>footerLinks}}
</body>

</html>