<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="../../public/css/style.css">
    {{>headerLinks}}
</head>

<body>
    {{!-- navbar --}}
    {{>header}}

    <!-- Hero section  Start-->
    <main class="bg-dark d-flex justify-content-center align-items-center">
        <div class="container-fluid text-white ">
            <div class="row">
                <div class="col-6 d-flex justify-content-center flex-column px-5">
                    <h1><span class="text-danger">Music</span> for everyone</h1>
                    <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt illo accusantium
                        corporis
                        labore
                        nihil repellendus voluptates vel quisquam quasi saepe pariatur deleniti facilis magnam
                        cupiditate,
                        laborum architecto assumenda suscipit. Corporis.
                    </p>
                    <p class="my-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt illo accusantium
                        corporis
                        labore
                        nihil repellendus voluptates vel quisquam quasi saepe pariatur deleniti facilis magnam
                        cupiditate,
                        laborum architecto assumenda suscipit. Corporis.
                    </p>
                    <div class="mt-4">
                        <button class="btn btn-danger rounded-4" type="submit">Download App Now</button>
                        <button class="btn btn-outline-gray rounded-4  text-white" type="submit">Start trial 30 Days
                            free</button>
                    </div>
                </div>
                <div class="col-6">
                    <img src="https://img.freepik.com/premium-photo/concept-eternal-theme-about-eternity-music-musical-instruments-good-mood-ascended-aspiration-action-treble-clef-sheet-music_771426-4115.jpg"
                        class="img-fluid rounded-3" alt="...">
                </div>
            </div>
        </div>
    </main>

    {{>footer}}

    {{!-- bootstrap script links --}}
    {{>footerLinks}}
</body>

</html>