<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>header}}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto py-5">
                    <div class="row ">
                        <div class="col d-flex flex-column justify-content-center align-items-center">
                            <img src="https://aioseo.com/wp-content/uploads/2021/04/how-to-find-and-fix-404-errors-in-wordpress.png.webp"
                                class="img-fluid rounded-3" alt="...">
                            <h3>{{errorMsg}}</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
    {{>footer}}
    {{>footerLinks}}
</body>

</html>