<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>header}}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row d-flex flex-row-reverse align-items-center justify-content-center "
                        style="min-height: 90vh;">
                        <div class="col-6">
                            <h5 class="text-primary">Welcome</h5>
                            <h2>I'm a Express developer.</h2>
                            <p class="my-2">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus similique labore
                                asperiores, nobis animi laudantium nam praesentium aperiam. Dolores nobis facere
                                necessitatibus accusantium debitis fuga velit mollitia, excepturi natus maxime?
                            </p>
                            <button class="btn btn-warning rounded-3 my-2">
                                <a class="text-decoration-none text-white"
                                    href="https://junaid-ali-portfolio.vercel.app/" target="_blank">Reach me</a>
                            </button>
                        </div>
                        <div class="col-6">
                            <img src="https://t4.ftcdn.net/jpg/01/15/85/23/360_F_115852367_E6iIYA8OxHDmRhjw7kOq4uYe4t440f14.jpg"
                                class="img-fluid rounded-3" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}
    {{>footerLinks}}
</body>

</html>